<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block layout:fragment="script"></th:block>
    <th:block layout:fragment="css"></th:block>
</head>
<body>
    <!-- header.html 파일로 치환되는 부분 -->
    <div th:replace="fragments/header::header"></div>
    <!-- contents 가 포함되는 영역 -->
    <div layout:fragment="content"></div>
    <div th:replace="fragments/footer::footer"></div>
</body>

</html>